<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Currencies rate change table</title>
</h:head>

<h:body>
	<h:form id="fxrateschage-form">

		<p:panel header="Currencies rate change" id="dateInput" style="width:auto">
			<h:panelGrid columns="5" cellpadding="4">
				<h:outputText value="Start Date: " />
				<p:calendar id="startDate"
					value="#{currencyRateChangeView.startDate}" navigator="true"
					pattern="yyyy-MM-dd" maxdate="#{currencyRateChangeView.endDate}">
					<f:ajax event="dateSelect" execute="@form" render="dateInput" />
				</p:calendar>
				<h:outputText value="End Date: " />
				<p:calendar id="endDate" value="#{currencyRateChangeView.endDate}"
					navigator="true" pattern="yyyy-MM-dd"
					maxdate="#{currencyRateChangeView.getMaxDate()}"
					mindate="#{currencyRateChangeView.startDate}">
					<f:ajax event="dateSelect" execute="@form" render="dateInput" />
				</p:calendar>
				<p:commandButton id="submit" value="Submit"
					update="rates-change-tabel"
					action="#{currencyRateChangeView.onSubmit()}"
					onclick="PF('rateChangeTable').close()"
					oncomplete="PF('rateChangeTable').show()">
				</p:commandButton>
			</h:panelGrid>
		</p:panel>
		<p:panel id="rates-change-tabel" widgetVar="rateChangeTable" style="width:auto"
			closable="true" toggleable="true" header="Rate Changes" visible="false" closeSpeed="0" toggleSpeed="0">
			<p:dataTable var="rateChagne" value="#{currencyRateChangeView.getRatesChange()}" tableStyle="width:auto" rendered="#{not currencyRateChangeView.error}">
				<p:column headerText="Currency">
					<h:outputText value="#{rateChagne.ccy.accr} - #{rateChagne.ccy.name.get('EN')}" />
				</p:column>
				<p:column headerText="Rate @ Start">
					<h:outputText value="#{rateChagne.start}" />
				</p:column>
				<p:column headerText="Rate @ End">
					<h:outputText value="#{rateChagne.end}" />
				</p:column>
				<p:column headerText="Rate Change %">
					<h:outputText value="#{rateChagne.getChangePercent()}" style="#{rateChagne.getChangePercent().doubleValue() gt 0 ? 'color:green;': (rateChagne.getChangePercent().doubleValue() eq 0 ?'color:black;':'color:red;')}"/>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
</h:body>
</html>